body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    background-color: white;
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
}
section{
    display: block;
}
#quote{
    font-style: italic;
    text-align: left;
    display: block;
    margin: 0 auto 50px auto;
    max-width: 545px;

}
.title{
    font-size: 4rem;
    text-align: center;
}
cite{
    font-style: italic;
    text-align: left;
    margin: 0 auto 50px auto;
    max-width: 545px;
}
main{
    background-color: #eee;
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
}
figure{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
p{
    margin: 16px 0px;
    color: black;
    text-align: center;
}
h3{
    display:block;
    font-size: 1.17em;
    font-weight: bold;
}
.img{
    align-items: center;
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    margin-right: 20px;
}
.img-div{
    background: white;
    padding: 10px;
    margin: 0;
}

ul{
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

li{
    margin: 16px 0;
    
}